# /etc/lavalauncher/lavalauncher.config
# and run it with in your autostart
# lavalauncher -c /etc/lavalauncher/lavalauncher.config 

global-settings
{
	watch-config-file = true;
}

bar
{
    button
    {
       image-path = /usr/share/weston/icon_terminal.png;
       command = weston-terminal;
    }
    button
    {
       image-path = /usr/share/weston/icon_terminal.png;
       command = foot;
    }

    button
    {
        image-path = /usr/share/icons/hicolor/48x48/apps/firefox.png;
        command = firefox;
    }
}

